body{
    color: orange;
    &test{
        background: red;
        color: blue;
    }
}

$redes: ( /*Declaramos nuestro mapa*/
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}
