body{
    color: orange;
    &test{
        background: red;
        color: blue;
    }
}
.slider__img{
    height: auto
}
.banner{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.banner--row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.banner--div{
    width: auto;
}
.banner--img{
    margin-left: 1rem;
    margin-right: 1rem;
}

$redes: ( /*Declaramos nuestro mapa*/
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}
